name: Build Manager

on:
  push:
    tags: [ "*" ]
    branches: [ "main" ]
    paths:
      - '.github/workflows/build.yml'
      - 'app/**'
      - 'apd/**'
      - 'build.gradle.kts'
      - 'gradle/libs.versions.toml'
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/build.yml'
      - 'app/**'
      - 'apd/**'
      - 'build.gradle.kts'
      - 'gradle/libs.versions.toml'
  workflow_call:
  workflow_dispatch:

jobs:
  build-manager:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate version
        id: parse_version
        run: |
          COMMIT_NUM=$(git rev-list --count HEAD)
          VERSION=$(echo "$COMMIT_NUM + 200 + 10000" | bc)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install toolchain
        run: |
          rustup target install aarch64-linux-android
          cargo install cargo-ndk

      - name: Build with Gradle
        run: |
          ./gradlew assembleRelease

      - name: Sign Release
        id: sign_app
        uses: kevin-david/zipalign-sign-android-release@v2
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          zipAlign: true

      - name: Prepare Zip
        id: prepare_zip
        run: |
          SIGNED_APK="${{ steps.sign_app.outputs.signedReleaseFile }}"
          ZIP_NAME="APatch_v${{ steps.parse_version.outputs.VERSION }}.zip"
          zip -j "$ZIP_NAME" "$SIGNED_APK"
          echo "ZIP_PATH=$ZIP_NAME" >> $GITHUB_OUTPUT

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: APatch-Package
          path: ${{ steps.prepare_zip.outputs.ZIP_PATH }}

      - name: Post to channel
        if: ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/main' && github.ref_type != 'tag' }}
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            URL=$(python3 .github/scripts/telegram_url.py -1002058433411)
            curl -v "$URL" -F Release=@${{ steps.prepare_zip.outputs.ZIP_PATH }}
            URL=$(python3 .github/scripts/telegram_url.py -1001910818234)
            curl -v "$URL" -F Release=@${{ steps.prepare_zip.outputs.ZIP_PATH }}
          fi

      - name: Release Action
        if: ${{ github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ steps.parse_version.outputs.VERSION }}
          artifacts: "${{ steps.sign_app.outputs.signedReleaseFile }},${{ steps.prepare_zip.outputs.ZIP_PATH }}"
          generateReleaseNotes: true
          makeLatest: true
